<div class="row">
  <div style="width: 95%; margin-left: 10px">
	<div>
	  <h2 class="text-center pt-5">
	  	<strong>トレーニングの編集</strong>
	  </h2>
		<%= form_for(@post) do |f| %>
		  <div class="form_group">
		    <%= f.text_field :title, placeholder: "トレーニング名を入力してください 例：腕立て伏せ", class: "form-control" %>
		  </div><br>

		  <div class="form-group" >
		    <%= f.text_area :body, placeholder: "トレーニング内容,セット数などを入力してください", rows: 7, class: "form-control" %>
		  </div>

          <div style="text-align: center;">
          	<div class="wrapper image_box">
			  <div style="width: 300px; margin-right: 10px">
		        
		      </div>
		      <p>商品画像：<%= f.attachment_field :post_images_images, multiple: true %></p>
		    </div>

		    <div class="form-group" >
              <%= f.text_field :tag_list, placeholder: "タグつけてね　１０文字以上書かないでね", value: @post.tag_list.join(','), class: "form-control"%>
            </div>


		  <h4>
		  	<strong>
		    効果部位：<%= f.select :part, Post.parts.keys.map {|k| [I18n.t("enums.post.part.#{k}"), k]} %> &emsp; &emsp;
		    強度：<%= f.select :strong, Post.strongs.keys.map {|k| [I18n.t("enums.post.strong.#{k}"), k]} %>
		    </strong>
		  </h4>
		  <br>

           <div style="margin-bottom: 100px;">
		    <%= f.submit "更新する" %>
	   　　</div>
	      </div>
		<% end %>
	</div>
  </div>
</div>
