<%= form_for(@post) do |f| %>
  <p>商品名：<%= f.text_field :title %></p>
  <p>商品説明文：<%= f.text_field :body %></p>
  <p>商品画像：<%= f.attachment_field :post_images_images, multiple: true %></p>
  <%= f.submit %>
<% end %>