<h1><%= @post.title %></h1>

<p>投稿者：<%= @post.user.name%></p>
トレーニング内容：<%= @post.body %><br>
効果部位：<%= @post.part_i18n %><br>
強度：<%= @post.strong_i18n %><br>

<%= attachment_image_tag(@post, :start_image, :fill, 100, 100, fallback: "no-image.png",size: "130x130") %>
<%= attachment_image_tag(@post, :finish_image, :fill, 100, 100, fallback: "no-image.png",size: "130x130") %>

<% if @post.favorited_by?(current_user) %>
  <%= link_to post_favorites_path(@post, redirect_id: 0), method: :delete do %>
    <span class="glyphicon glyphicon-heart"><%= @post.favorites.count%></span>
  <% end %>
  <% else %>
  <%= link_to post_favorites_path(@post, redirect_id: 0), method: :post do %>
    <span class="glyphicon glyphicon-heart-empty"><%= @post.favorites.count %></span>
  <% end %>
<% end %>

<h3>ブックマーク件数: <%= @post.books.count %></h3>
<% if current_user.already_booked?(@post) %>
  <%= button_to 'ブックマークを取り消す', post_books_path(@post), method: :delete %>
<% else %>
  <%= button_to 'ブックマーク', post_books_path(@post) %>
<% end %>

<%= render 'posts/tag_list', tag_list: @post.tag_list %>

<div class="row">
    <ul>
        <li class="comment-create">
            <h3 class="text-left title">レビュー</h3>
        </li>
        <li id="comments_area">
            <%= render partial: 'post_comments/index', locals: { post_comments: @post_comments } %>
        </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
        <div class="comment-create">
            <h3 class="text-left">レビューを投稿する</h3>
            <%= render partial: 'post_comments/form', locals: { post_comment: @post_comment, post: @post } %>
        </div>
    <% end %>
</div>

<%= link_to("編集",edit_post_path(@post.id)) %>
<%= link_to "削除", post_path, method: :delete, data: { confirm: "削除してよろしいですか？" } %>
<%= link_to("投降一覧へ",posts_path) %>