<h1><%= @post.title %></h1>

商品名：<%= @post.title %><br>
商品説明文：<%= @post.body %><br>

<% if @post.post_images.present? %>
  <% @post.post_images.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 200, 200 %>
  <% end %>
  <% else %>
    <%= image_tag 'no-image.png', size: '200x200' %>
<% end %>

<%= link_to("編集",edit_post_path(@post.id)) %>
<%= link_to "削除","posts/#{@post.id}", method: :delete, data: { confirm: "削除してよろしいですか？" } %>